<template>
  <div>
    <div class="has-background-light	pb-3 mb-3 mx-auto ">
      <div class="has-background-dark has-text-white mb-3 w-100 text-start">
        <span class="ps-2 pointer" @click="close()"> X</span>
      </div>
      <div>
        <table
          class="table  is-bordered is-striped is-narrow is-hoverable is-fullwidth mx-auto"
        >
          <thead>
            <tr>
              <th v-for="prop in convoyProp" :key="prop.realName">
                <strong>{{ prop.displayName }}</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td v-for="prop in convoyProp" :key="prop.realName">
                {{ fixedConvoys[selectedConvoyId][prop.name] }}
              </td>
            </tr>
          </tbody>
        </table>
        <button
          type="button"
          class="button arrived is-rounded has-text-white	"
          @click="reportArrival()"
        >
          דווח על הגעה
        </button>
        <button
          type="button"
          class="button is-info is-rounded"
          @click="reportMotion()"
        >
          דווח על יציאה
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import api from "../api/api";

export default {
  props: ["selectedConvoy", "convoys"],
  data() {
    return {
      convoyProp: [],
    };
  },
  created() {
    this.getProp();
  },
  computed: {
    selectedConvoyId() {
      return this.selectedConvoy;
    },

    fixedConvoys() {
      return this.convoys.map((convoy) => {
        convoy.startDate = new Date(convoy.startDate).toLocaleString("nl-NL");
        convoy.finishDate = new Date(convoy.finishDate).toLocaleString("nl-NL");
        return convoy;
      });
    },
  },

  methods: {
    async getConvoys() {
      try {
        this.convoys = (await api.convoys().getAll()).data;
      } catch (error) {
        console.log(error);
      }
    },
    async reportArrival() {
      this.$emit("reportArrival");
    },
    async reportMotion() {
      this.$emit("reportMotion");
    },

    close() {
      this.$emit("close");
    },

    async getProp() {
      try {
        this.convoyProp = (await api.convoys().getProps()).data;
      } catch (error) {
        console.log("get prop");
      }
    },
  },
};
</script>
<style scoped>
.button {
  margin: 0 1vw;
}

.motion {
  background-color: #6297e6;
}

.arrived {
  background-color: #ef3a8e;
}

#convoyDetails {
  font-size: 0.8em;
  width: 80%;
  margin: auto;
}

.full-width {
  width: 100%;
}

.search-input {
  margin: auto;
  padding-top: 2%;
  width: 50%;
}

.pointer {
  cursor: pointer;
}

.has-background-light {
  background-image: linear-gradient(
    141deg,
    #208fbc 0%,
    #ef3a8e 71%,
    #6297e6 100%
  );
}
</style>
