<template>
  <div>
    <section class="search-input mb-3">
      <div class="input-group">
        <input
          type="text"
          v-model="searchConvoy"
          class="input"
          placeholder="סנן שדרות"
          style="text-align: center"
        />
      </div>
    </section>

    <section>
      <div class="mx-5">
        <v-table
          id="tableComponent"
          class="table table-bordered table-striped is-bordered  is-narrow is-hoverable is-fullwidth pointer 
"
          :data="searchTable"
        >
          <thead slot="head">
            <tr>
              <v-th
                v-for="brief in convoyBrief"
                :sortKey="brief.realName"
                defaultSort="desc"
                :key="brief.realName"
                style="text-align: center"
              >
                {{ brief.displayName }}
              </v-th>
            </tr>
          </thead>
          <tbody slot="body" slot-scope="{ displayData }">
            <tr
              v-for="convoy in displayData"
              :key="convoy.id"
              :class="{ motion: convoy.inMotion, arrived: convoy.isArrived }"
              @click="selectedConvoy(convoy.id)"
              style="text-align: center"
            >
              <td
                v-for="(currBrief, index) in convoyBrief"
                :key="index"
                style="text-align: center"
              >
                {{ convoy[currBrief.realName] }}
              </td>
            </tr>
          </tbody>
        </v-table>
      </div>
    </section>
  </div>
</template>
<script>
import ConvoyBrief from "../json/convoyBrief.json";
export default {
  props: ["convoys"],

  data() {
    return {
      convoyBrief: ConvoyBrief,
      searchConvoy: "",
      selectedConvoyId: null,
    };
  },

  computed: {
    fixedConvoys() {
      return this.convoys.map((convoy) => {
        convoy.startDate = new Date(convoy.startDate).toLocaleString("nl-NL");
        convoy.finishDate = new Date(convoy.finishDate).toLocaleString("nl-NL");
        return convoy;
      });
    },
    searchTable() {
      if (this.searchConvoy) {
        return this.fixedConvoys.filter((convoy) =>
          Object.values(convoy).some((value) =>
            value.toString().includes(this.searchConvoy)
          )
        );
      } else {
        return this.fixedConvoys;
      }
    },
  },
  methods: {
    selectedConvoy(convoyId) {
      this.$emit("clickConvoy", convoyId - 1);
    },
  },
};
</script>
<style scoped>
.button {
  margin: 0 1vw;
}

.motion {
  background-color: #6297e6;
}

.arrived {
  background-color: #ef3a8e;
}

#convoyDetails {
  font-size: 0.8em;
  width: 80%;
  margin: auto;
}

.full-width {
  width: 100%;
}

.search-input {
  margin: auto;
  padding-top: 2%;
  width: 50%;
}

.pointer {
  cursor: pointer;
}
</style>
