<template>
  <div>
    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <img src="../assets/image2.png" width="500" height="200" />
        </div>
      </div>
    </section>
  </div>
</template>
<script></script>
<style scoped>
.hero.is-info.is-bold {
  background-image: linear-gradient(
    141deg,
    #208fbc 0%,
    #ef3a8e 71%,
    #6297e6 100%
  );
}
</style>
