<template>
  <div id="app">
    <Navbar></Navbar>
    <ConvoysTable
      @clickConvoy="selectedConvoy"
      :convoys="convoys"
    ></ConvoysTable>

    <div v-if="selectedConvoyId != null">
      <ConvoyDetails
        :convoys="convoys"
        :selectedConvoy="selectedConvoyId"
        @close="closeSelectConvoy"
        @reportArrival="reportArrival"
        @reportMotion="reportMotion"
      ></ConvoyDetails>
    </div>
  </div>
</template>

<script>
import api from "./api/api";
import Navbar from "./components/Navbar.vue";
import ConvoysTable from "./components/ConvoysTable.vue";
import ConvoyDetails from "./components/ConvoyDetails.vue";

export default {
  name: "app",
  components: {
    Navbar,
    ConvoysTable,
    ConvoyDetails,
  },

  data() {
    return {
      selectedConvoyId: null,
      convoys: [],
    };
  },

  created() {
    this.getConvoys();
  },

  methods: {
    async getConvoys() {
      try {
        this.convoys = (await api.convoys().getAll()).data;
      } catch (error) {
        console.log(error);
      }
    },

    selectedConvoy(e) {
      this.selectedConvoyId = e;
    },

    async reportArrival() {
      try {
        await api.convoys().reportConvoyArrived(this.selectedConvoyId + 1);
        this.convoys[this.selectedConvoyId].inMotion = false;
        this.convoys[this.selectedConvoyId].isArrived = true;
      } catch (error) {
        console.log(error);
      }
    },

    async reportMotion() {
      try {
        await api.convoys().reportConvoyInMotion(this.selectedConvoyId + 1);
        this.convoys[this.selectedConvoyId].inMotion = true;
        this.convoys[this.selectedConvoyId].isArrived = false;
      } catch (error) {
        console.log(error);
      }
    },

    closeSelectConvoy() {
      this.selectedConvoyId = null;
    },
  },
};
</script>
<style scoped>
#app {
  text-align: center;
  direction: rtl;
}
</style>
